<!-- Menu -->
<div class=" mt-3 p-2 d-flex justify-content-around">
    <div class="dropdown mb-3">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="accountManager"
            data-bs-toggle="dropdown" aria-expanded="false">
            Quản lý tài khoản
        </a>
        <ul class="dropdown-menu" aria-labelledby="accountManager">
            <li><a class="dropdown-item" href="/admin/manager">
                    Phòng ban, Khoa
                </a></li>
            <li><a class="dropdown-item" href="/admin/student">
                    Sinh viên
                </a></li>
        </ul>
    </div>

    <!-- dropdown menu bootstrap -->
    <div class="dropdown mb-3">
        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="viewWithRole" data-bs-toggle="dropdown"
            aria-expanded="false">
            Xem trang với vai trò
        </a>

        <ul class="dropdown-menu" aria-labelledby="viewWithRole">
            <li><a class="dropdown-item" href="/admin">
                    Quản trị viên
                </a></li>
            <li><a class="dropdown-item" href="/manager">
                    Phòng ban, Khoa
                </a></li>
            <li><a class="dropdown-item" href="/student">
                    Sinh viên
                </a></li>
        </ul>
    </div>
</div>