<div class="float-noti position-sticky fixed-top">
    <div class="row fw-bold my-3">
        <div class="col-6 text-start text-nowrap">THÔNG BÁO MỚI</div>
        <div class="col-6 text-end text-nowrap">
            <a href="/notification">XEM TẤT CẢ >></a>
        </div>

    </div>
    <div class="notice-box bg-white border border-1 rounded rounded-3 p-2">
        <div class="float-notice-box-body ">
        </div>
    </div>
</div>