<nav id="sidebar" class="h-100">
    <div class="sidebar-header">
        <a href="/">
            <h3>SCHOOL SOCIAL</h3>
        </a>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="/" data-toggle="collapse" aria-expanded="false">
                <i class="fas fa-home"></i>
                Trang chủ
            </a>
        </li>
        <li class="active">
            <a href="/setting">
                <i class="fas fa-users"></i>
                Trang cá nhân
            </a>
        </li>
        <li>
            <a href="/notification">
                <i class="fas fa-bell"></i>
                Thông báo
            </a>
        </li>
        <li>
            <a href="" onclick="logout()">
                <i class="fas fa-sign-out-alt"></i>
                Đăng xuất
            </a>
        </li>
    </ul>
</nav>