<div class="center-item border border-3 mt-3 rounded rounded-3 bg-light">
    <% if(user.roles==='student' || user.roles==='admin' ){ %>
        <div class="new-post-student">
            <h3>Đăng bài</h3>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Bạn đang nghĩ gì?" name="caption" id="caption"></textarea>
            </div>

            <div class="previewImage"><img id="imagePreview" class="img-fluid img-thumbnail rounded mb-3"></div>
            <div id="previewVideo" class="mb-3"></div>
            <div class="add-attach mb-3">
                <label class="btn btn-info dropdown-toggle" for="image">Thêm ảnh</label>
                <input class="form-control" type="file" name="image" id="image" accept="image/*"
                    onchange="previewImage(this);">
                <input class="form-control mx-2" type="text" placeholder="Nhập đường dẫn video youtube của bạn"
                    id="video" name="video" oninput="previewVideo()"><br>
            </div>
            <button class="btn btn-primary" type="submit" onclick="addPost()">Đăng bài</button>
        </div>
        <% } %>
            <% if(user.roles==="manager" || user.roles==="admin" ){ %>
                <div class="new-post-student">
                    <h3>Đăng bài theo chuyên mục</h3>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Tiêu đề" id="notiTitle">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="Nội dung tóm tắt" id="notiSummary">
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" placeholder="Nội dung chi tiết" id="notiDetail"></textarea>
                    </div>
                    <select class="mb-3" id="permission" required>
                        <option selected value="1">Chọn chuyên mục</option>
                        <% if(user.roles==='admin' ){ for(let i=0; i < category.length; i++){ %>
                            <option value="<%= category[i].category %>">
                                <%= category[i].category %>
                            </option>
                            <% }} else{ %>
                                <% for(let i=0; i < user.permission.length; i++){ %>
                                    <option value="<%= user.permission[i] %>">
                                        <%= user.permission[i] %>
                                    </option>
                                    <% } } %>
                    </select><br>
                    <button type="button" class="btn btn-primary" onclick="addNotification()">Đăng
                        bài</button>
                </div>
                <% } %>
                    <div class="timeline">
                    </div>
</div>