<div class="center-item border border-3 mt-3 rounded rounded-3 bg-light">
    <div class="d-flex select-category m-3 justify-content-center">
        <select class="form-select-fluid mx-3" aria-label="Default select example" id="category" required>
            <option selected value="1">Tất cả chuyên mục</option>
            <% for(let i=0; i < category.length; i++){ %>
                <option value="<%= category[i].category %>">
                    <%= category[i].category %>
                </option>
                <% } %>
        </select>
        <button type="submit" onclick="getNotiByCategory()">Lọc theo chuyên mục</button>
    </div>

    <nav class="pagination-category mt-3">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous" onclick="backPageCategory()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link btn-page" href="#" id="id1" onclick="getNotiByPage(this)">1</a>
            </li>
            <li class="page-item"><a class="page-link btn-page" href="#" id="id2" onclick="getNotiByPage(this)">2</a>
            </li>
            <li class="page-item input-page"><input type="number" class="form-control" id="pageNumber"><input
                    class="form-control mt-1" type="submit" value="Đến" onclick="getNotiByPage(this)"></li>
            <li class="page-item"><a class="page-link btn-page" href="#" id="id3" onclick="getNotiByPage(this)">3</a>
            </li>
            <li class="page-item"><a class="page-link btn-page" href="#" id="id4" onclick="getNotiByPage(this)">4</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next" onclick="nextPageCategory()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="notice-list">
        <div class="notice-box-body">
        </div>
    </div>
</div>